
  .glass{
    background-color:  rgba( 185,245,61, 0.5); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 185,245,61, 0.5); 
  }
